<% wrap_layout :blog_layout do %>
<span id="articleChain">
  <a
  <% if current_article.previous_article %>
     href="<%= current_article.previous_article %>"
  <% end %>
  >&lt;&lt; 過去の記事</a>
  <a
  <% if current_article.next_article %>
    href="<%= current_article.next_article %>"
  <% end %>
  >未来の記事 &gt;&gt;</a>
</span>
<article>
  <%= partial("blog/articleHeader", :locals => { :current_article => current_article }) %>
  <%= yield %>
</article>
<% end %>
