body{
     text-align: center;
}


header > a:link  {
    color:#000;
}
header > a:visited {
    color:#000;
}

article {
    background-color: #afa;

    /* border-bottom: 1px; */
    border-color: gray;
    border-style: outset;

    padding: 5px;

    margin: 10px auto;
}

#wrap {
    width:98%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

main {
    width: 85%;
    float: right;
}

#sideBar {
    width: 15%;
    float: right;
}

footer{
    width: 100%;
    border-style: none;
    clear: both;
    text-align: left;
}

.articleMeta{
    background-color: #eee;
    font-size: small;
}

.articleChain, .pageChain{
    text-align: center;
}

#anataNoYosou {
    font-size: large;
    font-weight: bolder;
}

#puyoguesuba{
    font-weight: bolder;
}

pre  code{
    background-color: #F5FFFA;

    font-size: large;

    border-style: outset;
    border-color: black;
    margin: 10px;
    padding: 10px;
}
