body{
     text-align: center;
}


header > a:link  {
    color:#000;
}
header > a:visited {
    color:#000;
}

#wrap {
    width:98%;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    overflow: auto;
}

main {
    width: 100%;
    float: right;
    margin-left: -200px;
}

main > *{
    margin-left: 210px;
}

#sideBar {
    width: 200px;
    float: right;
}

footer{
    width: 100%;
    border-style: none;
    clear: both;
    text-align: left;
}

article {
    background-color: #afa;

    /* border-bottom: 1px; */
    border-color: gray;
    border-style: outset;

    padding: 5px;

    margin-top: 5px;
}

.articleMeta{
    background-color: #eee;
    font-size: small;
    padding: 5px;
}

.articleMeta > h1 {
    margin: 0px;
}

.articleChain, .pageChain{
    text-align: center;
}

#anataNoYosou {
    font-size: large;
    font-weight: bolder;
}

#puyoguesuba{
    font-weight: bolder;
}

/* pre code{
 *     background-color: #F5FFFA;
 * 
 *     font-size: large;
 * 
 *     border-style: outset;
 *     border-color: black;
 *     margin: 10px;
 *     padding: 10px;
 * } */

pre {
    background-color: #F5FFFA;
    border-style: outset;
    border-color: black;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
}

code{
    font-size: large;
}

#head {
    width: 100%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #7f7;
    overflow: auto;
}

#img {
    width: 180px;
    float: right;
    margin-top: auto;
    padding: 10px;
    /* padding-bottom: 10px;
     * padding-left: 10px; */
    /* margin-bottom: auto;
     * padding-left: 3px ; */
    /* padding-left: 10px; */
    /* background-color: #6f6; */
}

#banner {
    width: 100%;
    float: right;
    margin-left: -200px;
    /* background-color: #6f6; */
    /* padding-top: 10px; */
    padding-bottom: 10px;
}

