---
title: "出したプルリク"
ogpDescription: "出したプルリク、取り込まれたプルリク、一覧作ってニヤニヤしたくない……？"
customCSSInline: "h2, h3 { margin: 5px; } section { line-height: 120%; padding-left: 10px; } "
---
<h1>出したプルリク</h1>

<section>
  <h2 id="whats">なにこれ</h2>
  出したプルリク、取り込まれたプルリク、一覧作ってニヤニヤしたくない……？
</section>

<section>
  <h2 id="merged">取り込まれたプルリク一覧</h2>
  <ul>
    <li>
      <a href="https://github.com/minghai/sicp-pdf/">minghai/sicp-pdf</a>
      <ul>
        <li><a href="https://github.com/minghai/sicp-pdf/pull/8">#8</a>
        <li><a href="https://github.com/minghai/sicp-pdf/pull/10">#10</a>
        <li><a href="https://github.com/minghai/sicp-pdf/pull/11">#11</a>
        <li><a href="https://github.com/minghai/sicp-pdf/pull/12">#12</a>
        <li><a href="https://github.com/minghai/sicp-pdf/pull/13">#13</a>
      </ul>
    </li>
    <li>
      <a href="https://github.com/wacky612/rubwiki/">wacky612/rubwiki</a>
      <ul>
        <li><a href="https://github.com/wacky612/rubwiki/pull/4">#4</a>
        <li><a href="https://github.com/wacky612/rubwiki/pull/5">#5</a>
        <li><a href="https://github.com/wacky612/rubwiki/pull/6">#6</a>
      </ul>
    </li>
    <li><a href="https://github.com/mooz/emacs-zlc">mooz/emacs-zlc</a> - <a href="https://github.com/mooz/emacs-zlc/pull/7">#7</a></li>
  </ul>
</section>

<section>
  <h2 id="proposed">提案中のプルリク一覧</h2>
  <ul>
    <li><a href="https://github.com/SoftEtherVPN/SoftEtherVPN/">SoftEtherVPN/SoftEtherVPN</a> - <a href="https://github.com/SoftEtherVPN/SoftEtherVPN/pull/127">#127</a></li>
  </ul>
</section>

<section>
  <h2 id="other">その他</h2>
  <ul>
    <li><a href="https://github.com/mori-dev/scratch-log/">mori-dev/scratch-log</a> - <a href="https://github.com/mori-dev/scratch-log/pull/9">#9</a></li>
  </ul>
</section>
