---
title: "あばうと☆みー！"
customCSS: ["about"]
#customCSSInline: "h2, h3 { margin: 5px; } section { line-height: 120%; padding-left: 10px; } "
---
<h1>あばうと☆みー！</h1>
<p class="subtitle">私について</p>

<section>
  <h2 id="_Name">なまえ</h2>
  「のな」という名前でインターネットをやっております。<br />
  nonamea774, nona7 などと名乗るときもあります。<br />
</section>

<section>
  <h2 id="_MailAddr">めーるあどれす</h2>
  <a href="mailto:nonamea774@gmail.com" rel="author">nonamea774@gmail.com</a><br />
  下の公開鍵を使って暗号化/署名されたメールで送ってくれると喜びます。

  <h3 id="_Pubkey">公開鍵</h2>
<div>
  <p>
    KeyID: <span id="keyID">0x0C3E3AB2</span> <br />
    fingerprint: <span id="fingerprint">674A 287A 21D2 2431 AD8F  D328 AEF3 C3C7 0C3E 3AB2</span>
  </p>

  <ul>
    <li><a href="nonamea774_gmail_com.asc">ASCII形式</a></li>
    <li><a href="nonamea774_gmail_com.key">バイナリ形式</a></li>
    <li><a href="http://pgp.nic.ad.jp/pks/lookup?op=index&search=0x0C3E3AB2&fingerprint=on">keyサーバ</a></li>
  </ul>
</div>
</section>

<section>
<h2 id="_Me">Web のわたし</h2>
<ul>
  <li><a href="https://twitter.com/nonamea774">Twitter</a></li>
  <li><a href="http://tumblr.nna774.net/">Tumblr</a></li>
  <li><a href="https://www.flickr.com/photos/nna774/">flickr</a></li>
  <li><a href="https://github.com/nna774">GitHub</a></li>
  <li><a href="https://ja.gravatar.com/nonamea774">Gravatars</a></li>
</ul>
</section>

<section>
<h2 id="_KMC"><a href="http://www.kmc.gr.jp">KMC</a> にも所属しています</h2>
<a href="http://www.kmc.gr.jp/members/">京大マイコンクラブ 部員</a><br />
nona7 です。<br />
<a href="mailto:nona7@kmc.gr.jp" rel="author">nona7@kmc.gr.jp</a> も有効なメールアドレスです。
</section>

<section>
<h2 id="_FSF">FSF</h2>
<a href="https://www.fsf.org/register_form?referrer=12978">
 <img src="https://static.fsf.org/nosvn/associate/fsf-12978.png" alt="[FSF Associate Member]" />
</a>
</section>

<section>
  <a href="/PRs/"><h2 id="_PRs">出したプルリク</h2></a>
  出したプルリク、githubからぱっと見えなくて、ニヤニヤしずらい。
</section>

<!-- <script src="./coin.js"></script> -->
<section>
<h2 id="_Donate">Donate</h2>
何か送ってくれると、喜び、感謝します。
<ul>
  <li><a href="http://www.amazon.co.jp/registry/wishlist/1BXEUWO6IYT1Y/">Amazon 欲しいものリスト</a></li>
  <li><a href="https://www.amazon.co.jp/gp/product/B004N3APDM">Amazon ギフト券</a> 15円をnonamea774@gmail.com へ
  <li>Bitcoin: 156gMXrof2QeQH6oMkT4VDAsUxKe5xcZq2<br />
    <!-- <script>
     !--   CoinWidgetCom.go({
	 !--   wallet_address: "156gMXrof2QeQH6oMkT4VDAsUxKe5xcZq2"
	 !--   , currency: "bitcoin"
	 !--   , counter: "count"
	 !--   , alignment: "bl"
	 !--   , qrcode: true
	 !--   , auto_show: false
	 !--   , lbl_button: "Donate"
	 !--   , lbl_address: "My Bitcoin Address:"
	 !--   , lbl_count: "donations"
	 !--   , lbl_amount: "BTC"
     !--   });
     !-- </script> -->
  </li>
  <li>Monacoin: MJiZ8aYCtgATSrUNtasssZYVd5do1oRkSL<br />
    <!-- <script>
     !--   CoinWidgetCom.go({
	 !--   wallet_address: "MJiZ8aYCtgATSrUNtasssZYVd5do1oRkSL"
	 !--   , currency: "monacoin"
	 !--   , counter: "count"
	 !--   , alignment: "bl"
	 !--   , qrcode: true
	 !--   , auto_show: false
	 !--   , lbl_button: "Donate"
	 !--   , lbl_address: "My Monacoin Address:"
	 !--   , lbl_count: "donations"
	 !--   , lbl_amount: "MONA"
     !--   });
     !-- </script><br /> -->
    or <a href="https://twitter.com/intent/tweet?text=@tipmona tip @nonamea774 0.01">@tipmona tip @nonamea774 0.01</a> use by <a href="http://tip.monash.pw/">@tipmona</a>
  </li>
</section>

