---
title: "あばうと☆みー！"
customCSS: ["about"]
---
<div id="mainWrap">

<h1>あばうと☆みー！</h1>
<p class="subtitle">私について</p>

<h2>Web のわたし</h2>
<ul>
  <li><a href="https://twitter.com/nonamea774">Twitter</a></li>
  <li><a href="http://tumblr.nna774.net/">Tumblr</a></li>
  <li><a href="https://www.flickr.com/photos/nna774/">flickr</a></li>
  <li><a href="https://github.com/nna774">GitHub</a></li>
</ul>

<h2>公開鍵</h2>
<p>
  KeyID: <span id="keyID">0x0C3E3AB2</span> <br />
  fingerprint: <span id="fingerprint">674A 287A 21D2 2431 AD8F  D328 AEF3 C3C7 0C3E 3AB2</span>
</p>
  
<ul>
  <li><a href="nonamea774_gmail_com.asc">ASCII形式</a></li>
  <li><a href="nonamea774_gmail_com.key">バイナリ形式</a></li>
  <li><a href="http://pgp.nic.ad.jp/pks/lookup?op=index&search=0x0C3E3AB2&fingerprint=on">keyサーバ</a></li>
</ul>
  
</div>
