---
title: "Piet"
#customCSS: ["about"]
#customCSSInline: "h2, h3 { margin: 5px; } section { line-height: 120%; padding-left: 10px; } "
---

<h1>Piet</h1>
ここになにか書きます。<br />

<h2>レポジトリ</h2>
<ul>
  <li><%= link_to 'nna774/piet-testutils', 'https://github.com/nna774/piet-testutils' %>
  <li><%= link_to 'nna774/piet-automata', 'https://github.com/nna774/piet-automata' %>
</ul>

<h2>C88に出したペーパー</h2>
<p>
とりあえず、<a href="https://github.com/nna774/C88Paper/">ペーパーのレポジトリ</a>を置いときます。ビルドしたPDFは<a href="./c88paper.pdf">ここ</a>です。
</p>

<h2>世界最高のPietエディタ</h2>
<%= link_to 'kndama/Pidet', 'https://github.com/kndama/Pidet' %>
