---
title: "Piet"
#customCSS: ["about"]
#customCSSInline: "h2, h3 { margin: 5px; } section { line-height: 120%; padding-left: 10px; } "
---
<section>
<h1>Piet</h1>
ここになにか書きます。<br />

とりあえず、<a href="https://github.com/nna774/C88Paper/">ペーパーのレポジトリ</a>を置いときます。ビルドしたPDFは<a href="./c88paper.pdf">ここ</a>です。
</section>
