<% if path == "/blog/" %>
あなたの予想に反して、このページが見えているでしょうか?
<% else %>
<%= ["あなたの予想に反して、このページが見えているでしょうか?", "Меня зовут Нона. А вас?", "Tell Your World", "<a href=\"/OpenYo/\">Yo!</a>"].sample %>
<% end %>
