<% if path == "/blog/" %>
あなたの予想に反して、このページが見えているでしょうか?
<% else %>
<%= ["あなたの予想に反して、このページが見えているでしょうか?",
     "Меня зовут Нона. А вас?",
     "<a href=\"https://www.youtube.com/watch?v=PqJNc9KVIZE\">Tell Your World</a>",
     "<a href=\"/OpenYo/\">Yo!</a>",
     "<a href=\"https://theinterviews.jp/retlet/13554\">ぐるぐると回り続けて、そのうちぼくらはバターになる。</a>",
     "<a href=\"http://www.sham.jp/studio/sound/denki/\">僕らはみんな電気の恋人</a>",
     "<a href=\"https://twitter.com/nonamea774/status/625535338589483009\">📛</a>",
     "コンピュータと心中する覚悟は出来ましたか？",
    ].sample %>
<% end %>
