<footer class="articleMeta">
  Witten by <a rel="author" href="/about/" >久我山菜々</a><br />
  何かツッコミ、意見、便利知見等あれば、<a rel="author" href="https://twitter.com/nonamea774/" >@nonamea774</a>、<a rel="author" href="mailto:nonamea774@gmail.com" >nonamea774@gmail.com</a>までご気軽にお願いします。<br />
  <time datetime="<%= current_article.date.strftime('%Y-%m-%dT%R%z') %>"><%= current_article.date.strftime('%Y/%m/%d %R') %></time>
</footer>

