AddDefaultCharset UTF-8
AddCharset UTF-8 .css .js
Header set Vary Accept-Encoding

RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^(www\.nna774\.net)
RewriteRule ^(.*)$ https://nna774.net%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)\.css$ $1.css.gz [QSA,L]
RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)\.js$ $1.js.gz [QSA,L]
RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)\.html$ $1.html.gz [QSA,L]

<FilesMatch "\.css\.gz$">
  ForceType   'text/css; charset=UTF-8'
  AddEncoding gzip .gz
</FilesMatch>
 
<FilesMatch "\.js\.gz$">
  ForceType   'application/javascript; charset=UTF-8'
  AddEncoding gzip .gz
</FilesMatch>

<FilesMatch "\.html\.gz$">
  ForceType   text/html
  AddEncoding gzip .gz
</FilesMatch>

ExpiresActive On

ExpiresByType image/png  "access plus 60 days"
ExpiresByType image/gif  "access plus 60 days"
ExpiresByType image/jpeg "access plus 60 days"
ExpiresByType image/webp "access plus 60 days"

ExpiresByType application/javascript "access plus 60 days"
ExpiresByType text/css "access plus 60 days"

#Header append Vary Accept-Encoding
