<p id="hostOn">
Powered with Raspberry Pi<br>
このページはGithub の<a href="https://github.com/nna774/nna774.net">nna774/nna774.net</a> にレポジトリがあります。
</p>
<p id="_commitHash">
このページのビルド時のCommit Hash は<a href="https://github.com/nna774/nna774.net/tree/<%= commitHash %>"><%= commitHash %></a> です。
</p>
