<p id="hostOn">
<a href="https://www.flickr.com/photos/nna774/14434965670/">Powered with Raspberry Pi</a> and <a href="https://www.cloudflare.com/">CloudFlare</a>.<br>
このページはGithubの<a href="https://github.com/nna774/nna774.net">nna774/nna774.net</a> にレポジトリがあります。
</p>
<p id="_commitHash">
このページのビルド時のCommit Hashは<a href="https://github.com/nna774/nna774.net/tree/<%= commitHash %>"><%= commitHash %></a>です。<br />
Commit メッセージは"<%= commitMsg %>"です。
</p>
<p id="_buildDate">
ビルド時間は<%= Time.now %>です。
</p>
