---
title: "あばうと☆みー！"
customCSS: ["about"]
---
<div id="mainWrap">

<h1>あばうと☆みー！</h1>
<p class="subtitle">私について</p>

<ul>
  <li><a href="https://twitter.com/nonamea774">Twitter</a></li>
  <li><a href="http://tumblr.nna774.net/">Tumblr</a></li>
</ul>

</div>
