---
title: "いっと☆わーくす！"
---

<div id="mainWrap">
  <h2 id="pageName">index</h2>
  <section>
    <dl>
      <dt><%= link_to "Blog", "/blog/" %></dt>
      <dd>がんばって書きます……</dd>
      <dt><%= link_to "About", "/about/" %></dt>
      <dd>インターネット上の私</dd>
    </dl>
  </section>
  <section id="pkgbuild">
    <span>PKGBUILD 的な物。書き方おかしかったら教えてください。</span>
    <ul>
      <li><a href="https://gist.github.com/nna774/8468487">Gyazo</a> -- using google-chrome-stable</li>
      <li><a href="https://gist.github.com/nna774/8781461">めんまフォント</a> -- <a href="http://www.anohana.jp/tv/special/font.html">めんまフォント</a>のインストーラ</li>
      <li><a href="https://gist.github.com/nna774/8917470">2ch-fortune</a> -- <a href="http://wids.net/lab/">2ch-fortune@Unix板[wids.net laboratory]</a>のインストーラ</li>
    </ul>
  </section>
</div>
