---
title: 'いっと☆わーくす！'
ogpDescription: "Kugayama Nana's web page. main contents is blog..."
amp: true
---

<div id='mainWrap' class='col-md-12'>
  <h2 id='pageName'>index of nna774.net</h2>
  <section class ='row row-eq-height wrap'>
    <section class='glider col-xs-6 col-sm-3 col-md-2 select'>
      <a href='https://scrapbox.io/rebuild-kitashirakawa/'>
        <h3>rebuild-kitashirakawa</h3>
        こっちが日記となった。なんでもこちらに書いちゃうので、→ブログが更新されない……。
      </a>
    </section>
    <section class='glider col-xs-6 col-sm-3 col-md-2 select'>
      <a href='/blog/'>
        <h3>Blog</h3>
        <del>がんばって書きます……。</del><br />
        <ins>最近更新していない。</ins>
      </a>
    </section>
    <section class='piet col-xs-6 col-sm-3 col-md-2 select'>
      <a href='/piet/'>
        <h3>Piet</h3>
        pietについていろいろ書きます。<br />
        <ins>最近更新していない。</ins>
      </a>
    </section>
    <section class='glider col-xs-6 col-sm-3 col-md-2 select'>
      <a href='/projects/'>
        <h3>Projects</h3>
        最近更新していないもの
      </a>
    </section>
  </section>
  <h2 id='dare'>誰？</h2>
  <section>
    <em>久我山菜々 &lt;nonamea774@gmail.com&gt;</em>
    <ul>
      <li>
        Accounts:
        <ul>
          <li>Github: <a href='https://github.com/nna774'>nna774</a>
          <li>Twitter: <a href='https://twitter.com/nonamea774'>@nonamea774</a>
          <li>Keybase: <a href='https://keybase.io/nona'>nona</a>
          <li>Steam: <a href='https://steamcommunity.com/id/nona7/'>nonamea.774</a>
          <li>Pixiv: <a href='https://pixiv.me/nonamea774'>nonamea774</a>
        </ul>
      <li>
        Links:
        <ul>
          <li>Kyoto University Micro Computer Club (KMC): <a href='https://www.kmc.gr.jp/'>https://www.kmc.gr.jp/</a>
          <li>欲しいものリスト: <a href='https://www.amazon.co.jp/hz/wishlist/ls/1BXEUWO6IYT1Y'>Amazon</a>
        </ul>
    </ul>
  </section>
</div>
