---
title: "いっと☆わーくす！"
ogpDescription: "Kugayama Nana's web page. main contents is blog..."
amp: true
---

<div id="mainWrap" class="col-md-12">
  <h2 id="pageName">index of nna774.net</h2>
  <section class ="row row-eq-height wrap">
    <section class="glider col-xs-6 col-sm-3 col-md-2 select">
      <a href="https://scrapbox.io/rebuild-kitashirakawa/">
        <h3>rebuild-kitashirakawa</h3>
        こっちが日記となった。なんでもこちらに書いちゃうので、→ブログが更新されない……。
      </a>
    </section>
    <section class="glider col-xs-6 col-sm-3 col-md-2 select">
      <a href="/blog/">
        <h3>Blog</h3>
        <del>がんばって書きます……。</del><br />
        <ins>最近更新していない。</ins>
      </a>
    </section>
    <section class="piet col-xs-6 col-sm-3 col-md-2 select">
      <a href="/piet/">
        <h3>Piet</h3>
        pietについていろいろ書きます。<br />
        <ins>最近更新していない。</ins>
      </a>
    </section>
    <section class="glider col-xs-6 col-sm-3 col-md-2 select">
      <a href="/about/">
        <h3>About</h3>
        インターネット上の私<br />
        <ins>最近更新していない。</ins>
      </a>
    </section>
    <section class="glider col-xs-6 col-sm-3 col-md-2 select">
      <a href="/projects/">
        <h3>Projects</h3>
        最近更新していないもの
      </a>
    </section>
  </section>
</div>
